{% extends 'base.html' %}

{% block title %}
  Registrar Centros de Actividad
{% endblock title %}


{% block content %}

  <div class="card card-register mt-5">
    <div class="card-header">Registrar Actividades de cada Especialista</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          <div class="form-label-group" id="inputEmail">
            <span>Especialista</span>
            {{form.contrato}}
          </div>
        </div>
        
        <div class="form-group">
          <div class="form-label-group" id="inputEmail" >
            <span>Centro de Costo</span>
            {{form.centro_costo}}
          </div>
        </div>

        <div class="form-group">
          
          <div class="form-label-group" id="inputEmail" >
            <span>Actividad</span>
            {{form.actividad}}

          </div>
        </div>

        <div class="form-group">
          <div class="form-label-group" id="inputEmail" >
            {{form.nombre_centro_act}}
            <label for="firstName">Nombre Cuenta</label>
          </div>
        </div>

        <div class="form-group">
          <div class="form-label-group" id="inputEmail" >
            {{form.cuenta}}
            <label for="firstName">N° Cuenta</label>
          </div>
        </div>

        <input type="submit" class="btn btn-info" value="Guardar">
        <a class="btn btn-danger" href="{% url 'centro_actividad_list' %}">Cancelar</a>


      </form>
    </div>
  </div>

{% endblock content %}