<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>

    <h1>este es un correo electronico enviao desde {{ mail }}</h1>

    <table class="table table-bordered dataTable table-hover">
        <thead>
            <tr>
                <th>uno</th>
                <th>dos</th>
                <th>tres</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>wilmer</td>
                <td>dario</td>
                <td>urango</td>
            </tr>

        </tbody>

    </table>

    <p>
        este es el mensaje del correo
    </p>

</body>
</html>